
<footer class="cp-footer03">
  <div class="cinema-scope">
  </div>
  <div class="cp-footer03__container">
    <div class="cp-footer03__content">
      <!-- ロゴ -->
      <figure class="cp-footer03__logo"><a href="">VideoDiary</a></figure>
      <!-- /ロゴ -->
      <!-- ナビゲーション -->
      <nav class="cp-footer03__navi">
        <ul class="cp-footer03__navi__items">
          <li class="cp-footer03__navi__item"><a href="">Menu01</a></li>
          <li class="cp-footer03__navi__item"><a href="">Menu02</a></li>
          <li class="cp-footer03__navi__item"><a href="">Menu03</a></li>
          <li class="cp-footer03__navi__item"><a href="">Menu04</a></li>
          <li class="cp-footer03__navi__item"><a href="">Menu05</a></li>
        </ul>
      </nav><!-- /ナビゲーション -->
      <!-- SNSアイコン -->
      <ul class="cp-footer03__icons">
        <li class="cp-footer03__icon"><a href=""><i class="fab fa-instagram"></i></a></li>
        <li class="cp-footer03__icon"><a href=""><i class="fab fa-twitter-square"></i></a></li>
        <li class="cp-footer03__icon"><a href=""><i class="fab fa-facebook-square"></i></a></li>
      </ul><!-- /SNSアイコン -->
    </div> 
        <!-- コピーライト -->
    <p class="cp-footer03__copywriter"><small>© 2021 VideoDiary</small></p><!-- /コピーライト -->      
  </div>
</footer>