.account-page .account-page-inner {
  width: 1200px;
  margin: 60px auto;
  padding: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.account-page .account-page-inner .account-page-left, .account-page  .account-page-inner .account-page-right {
  float: left;
  width: 50%;
}

.account-page .account-page-inner .account-page-right {
  margin-top: 65px;
}

.account-page .account-page-inner:after {
  clear: both;
  content: "";
  display: block;
}

.account-page .account-page-header h2 {
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 200;
  letter-spacing: 3px;
}

.account-page .account-page-header h2:after {
  content: "";
  display: block;
  width: 100px;
  margin-top: 5px;
  border-bottom: 1px solid #38aef3
}

.account-page .account-page-header h4 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 200;
}

.account-page .field {
  margin-bottom: 10px;
}

.account-page .field .form-text-wrap {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 200;
}

.account-page .field .input-default {
  width: 90%;
  padding: 10px;
  letter-spacing: 1px;
}

.btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #38aef3;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.account-page .birth-wrap {
  display: flex;
}

.account-page .birth-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.account-page .birth-wrap p {
  line-height: 60px;
  padding: 0 10px;
}